<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add New Image</title>
    <script defer src="form.js"></script>

    <%- include('./partials/head') %>

</head>

<body>
    <header class="container">
        <%- include('./partials/nav') %>
    </header>
    <form class="container" action="/add-image-form" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" required maxlength="30" >
        <label for="url">URL</label>
        <input type="url" name="url" id="url" >
        <input type="submit" value="Añadir">
    </form>
    <!-- Mostrar un mensaje de confirmación si el usuario acaba de isertar una imagen en la 'base de datos'-->
    <% if (isImagePosted) { %>
        <div id="message" class="container alert success">Imagen insertada correctamente</div>
        <% } %>
        <% if (errorMessage) { %>
            <div class="container alert error"><%= errorMessage %></div>
        <% } %>
</body>

</html>